*{
    padding: 0;
    margin: 0;
}
.navbar-brand{
    width: 5%;
}
.tab-content{
    justify-content: center;
    display: flex;
}
.navbar-light{
    background-color:#00b894;
}
.nav-link{
    background-color: white;
}
/* ul{
    display: flex;
    justify-content: center;

} */